.container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0 1rem;
  background: #efefef;
}

.recipe-menu {
  width: 30%;
  height: 30rem;
  overflow-y:auto;
}

.list-button {
  background: #fff;
  padding: 1rem 0.6rem;
  border-radius: 10px;
  margin: 1rem 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: "#ccc";
}

.recipe-detail {
  width: 70%;
  height: 500px;
  overflow-y: auto;
  color: #000;
  font-weight: 700;
  padding: 1rem;
}

img {
  display: flex;
  justify-content: center;
  max-width: 90%;
  object-fit: contain;
}